{% extends 'base/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <a style="float:right; color:blue;" href="{{request.META.HTTP_REFERER}}" class="btn">Volver</a>
        <h1>Perfil de Usuario</h1>
    </div>
</div>
    
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1> </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <h4>Nombre de Usuario: {{ user.username }}</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <h4>Nombre: {{ user.first_name }}</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <h4>Apellido: {{ user.last_name }}</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <h4>Correo: {{ user.email }}</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1> </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <a href="{% url 'profile_update_old' %}">Actualizar Perfil</a>
            <a style=float:right; href="{% url 'solicitud_listar' %}">Actualizar Contraseña</a>
        </div>
    </div>
</div>

{% endblock %}

