{% extends 'base/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <a style="float:right; color:blue;" href="{% url 'login' %}" class="btn">Volver</a>
        <h1>Registro de Usuario</h1>
    </div>
</div>
    
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1> </h1>
    </div>
</div>

<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Nombre</label>
                <input class="form-control" type="text" name="first_name" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Apellido</label>
                <input class="form-control" type="text" name="last_name" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Nombre de usuario</label>
                <input class="form-control" type="text" name="username" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Correo</label>
                <input class="form-control" type="text" name="email" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Contraseña</label>
                <input class="form-control" type="password" name="password1" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Confirmar contraseña</label>
                <input class="form-control" type="password" name="password2" required>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
    </div>
</form>


{% endblock %}
