{% extends 'base/base.html' %}

{% block content %}
<!--
<div class="row">
    <div class="col-md-8 col-md-offset-4">
        <a style="float:right; color:blue;" href="{{request.META.HTTP_REFERER}}" class="btn">Volver</a>
    </div>
</div>
-->
<div class="row">
    <div class="col-md-8 col-md-offset-0">
        <h1>Ingrese una mascota</h1>
    </div>
</div>
<!--
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button class="btn btn-primary" type="submit">Guardar</button>
</form>
-->

<form method="post">
{% csrf_token %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Nombre o apodo</label>
                <input class="form-control" type="text" name="nombre" value='{{ mascota.nombre }}'>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Sexo</label>
                <input class="form-control" type="text" name="sexo" value='{{ mascota.sexo }}'>
            </div>
        </div>
    </div>    

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Edad (aproximada)</label>
                <input class="form-control" type="number" min="1" max="5" name="edad_aproximada" value='{{ mascota.edad_aproximada }}'>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Fecha de rescate</label>
                <input class="form-control" name="fecha_rescate" value='{{ mascota.fecha_rescate }}'>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Adoptante</label>
                <text class="form-control" disabled>{{ request.user }}</text>
                <select class="form-control" name="usuario" hidden=True value='{{ mascota.usuario }}'>
                    <option>{{ request.user.id }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Vacunas</label>

                <!-- <input class="form-control" type="checkbox" name="vacuna" value='{{ mascota.vacuna }}'> -->
                {% for v in mascota.vacuna %}
                    <select multiple class="form-control" name="usuario" value='{{ mascota.usuario }}'>
                    <li>
                        <option>{{ v.nombre }}</option>   
                    </li>
                    </select>
                {% endfor %}
                    
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}

<!--

{% for radio in myform.beatles %}
    <label for="{{ radio.id_for_label }}">
        {{ radio.choice_label }}
        <span class="radio">{{ radio.tag }}</span>
    </label>
{% endfor %}

-->
