{% extends 'base/base.html' %}

{% block content %}
<!--
<div class="row">
    <div class="col-md-8 col-md-offset-4">
        <a style="float:right; color:blue;" href="{{request.META.HTTP_REFERER}}" class="btn">Volver</a>
    </div>
</div>
-->
<div class="row">
    <div class="col-md-8 col-md-offset-0">
        <h1>Ingrese una mascota</h1>
    </div>
</div>
<!--
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button class="btn btn-primary" type="submit">Guardar</button>
</form>
-->

<form method="post">
{% csrf_token %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Nombre o apodo</label>
                <input class="form-control" type="text" name="nombre" value='{{ mascota.nombre }}'>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Sexo</label>
                <input class="form-control" type="text" name="sexo" value='{{ mascota.sexo }}'>
            </div>
        </div>
    </div>    

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Edad (aproximada)</label>
                <input class="form-control" type="number" min="1" max="5" name="edad_aproximada" value='{{ mascota.edad_aproximada }}'>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Fecha de rescate</label>
                <input class="form-control" name="fecha_rescate" value='{{ mascota.fecha_rescate }}'>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Adoptante</label>
                <text class="form-control" disabled>{{ request.user }}</text>
                <select class="form-control" name="usuario" hidden=True value='{{ mascota.usuario }}'>
                    <option>{{ request.user.id }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Vacunas</label>
                <br/>
                        <label for="id_selected_users_1">
                            <input form="theform" id="id_selected_users_1" name="selected_users" type="checkbox" value="ex2" /> Example2
                        </label>     
                    {% for v in queryset %}
                        <input class="form-control" name="vacuna" type="checkbox" value='{{ mascota.vacuna }}'>
                            <label for='vacunas'>{{ v.nombre }}</label>
                            <br/>
                    {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}

<!--
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <label>VACUNAAAAAS</label>
            {% for v in request.vacuna.all %}
                <input class="form-control" name="vacuna" type="checkbox" value='{{ mascota.vacuna }}'>{{ request.user }}
            {% endfor %}
        </div>
    </div>
</div>


<li>
    <label for="id_selected_users_1">
        <input form="theform" id="id_selected_users_1" name="selected_users" type="checkbox" value="ex2" /> Example2
    </label>
</li>



<ul>
    <li>
        <input name="vacuna" type="checkbox" value='{{ mascota.vacuna}}' /> 
            <label for='vacunas'>{{ request.vacuna.all }}</label>
            <br/>
    </li>
</ul>
-->